# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env/
.venv/
ENV/

# Environment files
.env
*.env
.env.local
.env.development
.env.production

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite
migrations/

# macOS
.DS_Store


